<html>

<head>
<title>Flight Prices</title>
</head>

<body>
<h2>In search of better flights</h2>
<p>Amadeus actual database is used. THe application returns actual flight prices based on user input. User can choose departure date and airports</p>
<p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
 You can embed an R code chunk like this:</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
